*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:0;
}

.gallery img{
    width:100%;
    height:300px;  
    object-fit:cover;
    object-position: top center;
    display:block;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 35px rgba(0,0,0,0.6);
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.open {
    display: flex;
}

.modal-img {
    max-width: 80%;
    max-height: 85%;
    border-radius: 20px;
}

.close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
